
body{
    background-color: powderblue;
}

hr{
    border-color: grey;
    border-width: 5px;
    width: 30px;
    border-style: dotted none none;
}
img{
    height: 200px;
    width: 200px;
}